# ignore all .swp files
*.swp

# ignore compilation byproduct
ntl-extras/vec_lzz_p_extra/test/test_inv
ntl-extras/vec_lzz_p_extra/test/test_inv.chk
ntl-extras/structured_lzz_pX/test/test_sylvester_inv_trunc
ntl-extras/structured_lzz_pX/test/test_sylvester_mul_left
ntl-extras/structured_lzz_pX/test/test_sylvester_mul_left_trunc
ntl-extras/structured_lzz_pX/test/test_sylvester_mul_right
ntl-extras/structured_lzz_pX/test/test_sylvester_mul_right_trunc
ntl-extras/structured_lzz_pX/test/test_sylvester_phi_plus_generators
ntl-extras/structured_lzz_pX/test/test_sylvester_to_dense
ntl-extras/structured_lzz_pX/test/test_toeplitz_like_minus
ntl-extras/structured_lzz_pX/test/test_toeplitz_like_minus_mul_left_trunc
ntl-extras/structured_lzz_pX/test/test_toeplitz_like_minus_mul_right_trunc
ntl-extras/structured_lzz_pX/test/test_toeplitz_like_minus_to_dense
ntl-extras/sage_output/test/test_sage_output
ntl-extras/sage_output/test/test_sage_output.chk
ntl-extras/mat_lzz_pX_extra/test/test_addshift
ntl-extras/mat_lzz_pX_extra/test/test_app_iterative
ntl-extras/mat_lzz_pX_extra/test/test_app_mbasis
ntl-extras/mat_lzz_pX_extra/test/test_app_pmbasis
ntl-extras/mat_lzz_pX_extra/test/test_charpolymod
ntl-extras/mat_lzz_pX_extra/test/test_constant_multiply
ntl-extras/mat_lzz_pX_extra/test/test_deg
ntl-extras/mat_lzz_pX_extra/test/test_determinant
ntl-extras/mat_lzz_pX_extra/test/test_division
ntl-extras/mat_lzz_pX_extra/test/test_eval
ntl-extras/mat_lzz_pX_extra/test/test_high_order_lifting
ntl-extras/mat_lzz_pX_extra/test/test_int_mbasis
ntl-extras/mat_lzz_pX_extra/test/test_int_pmbasis
ntl-extras/mat_lzz_pX_extra/test/test_inv_trunc
ntl-extras/mat_lzz_pX_extra/test/test_kernel
ntl-extras/mat_lzz_pX_extra/test/test_linsolve
ntl-extras/lzz_p_extra/test/test_element_of_order
ntl-extras/lzz_p_extra/test/test_element_of_order.chk
ntl-extras/lzz_p_extra/test/test_order
ntl-extras/lzz_p_extra/test/test_order.chk
ntl-extras/lzz_pX_CRT/test/test_bivariate_evaluation
ntl-extras/lzz_pX_CRT/test/test_bivariate_evaluation.chk
ntl-extras/lzz_pX_CRT/test/test_CRT
ntl-extras/lzz_pX_CRT/test/test_CRT.chk
ntl-extras/lzz_pX_CRT/test/test_evaluate_interpolate_matrix
ntl-extras/lzz_pX_CRT/test/test_evaluate_interpolate_vector
ntl-extras/lzz_pX_CRT/test/test_FFT_evaluate
ntl-extras/lzz_pX_CRT/test/test_FFT_evaluate.chk
ntl-extras/lzz_pX_CRT/test/test_FFT_interpolate
ntl-extras/lzz_pX_CRT/test/test_FFT_interpolate.chk
ntl-extras/lzz_pX_CRT/test/test_general_evaluate
ntl-extras/lzz_pX_CRT/test/test_geometric_evaluate
ntl-extras/lzz_pX_CRT/test/test_geometric_evaluate_long
ntl-extras/lzz_pX_CRT/test/test_geometric_interpolate
ntl-extras/lzz_pX_CRT/test/test_geometric_vector_operations
ntl-extras/lzz_pX_CRT/test/test_t_evaluate_interpolate_matrix
ntl-extras/lzz_pX_CRT/test/test_t_evaluate_interpolate_vector
ntl-extras/lzz_pX_CRT/test/test_t_FFT_evaluate
ntl-extras/lzz_pX_CRT/test/test_t_FFT_interpolate
ntl-extras/lzz_pX_CRT/test/test_t_general_evaluate
ntl-extras/lzz_pX_CRT/test/test_t_general_interpolate
ntl-extras/lzz_pX_CRT/test/test_t_geometric_evaluate
ntl-extras/lzz_pX_CRT/test/test_t_geometric_interpolate
ntl-extras/lzz_pX_CRT/test/test_thresholds_geometric
ntl-extras/lzz_pX_seq/test/test_make_seq
ntl-extras/lzz_pX_seq/test/test_make_seq.chk
ntl-extras/lzz_pX_seq/test/test_make_seq_mod
ntl-extras/lzz_pX_seq/test/test_seq
ntl-extras/lzz_pX_seq/test/test_seq_mod
ntl-extras/magma_output/test/test_magma_output
ntl-extras/magma_output/test/test_magma_output.chk
ntl-extras/mat_lzz_pX_extra/test/test_lmultiplier
ntl-extras/mat_lzz_pX_extra/test/test_matpadegen
ntl-extras/mat_lzz_pX_extra/test/test_linsolve_series
ntl-extras/mat_lzz_pX_extra/test/test_mbasisgen
ntl-extras/mat_lzz_pX_extra/test/test_middle_product
ntl-extras/mat_lzz_pX_extra/test/test_modcomp
ntl-extras/mat_lzz_pX_extra/test/test_random
ntl-extras/mat_lzz_pX_extra/test/test_reduction
ntl-extras/mat_lzz_pX_extra/test/test_utils
ntl-extras/mat_lzz_pX_extra/test/test_vs_gcd
flint-extras/nmod_extra/test/multimod_CRT_CRT.chk
flint-extras/nmod_extra/test/test_multimod_CRT_CRT
flint-extras/nmod_mat_extra/test/nullspace.chk
flint-extras/nmod_mat_extra/test/rand.chk
flint-extras/nmod_mat_poly_extra/test/test_mbasis
flint-extras/nmod_mat_poly_extra/test/test_mem
flint-extras/nmod_mat_poly_extra/test/test_mul_coeff
flint-extras/nmod_mat_poly_extra/test/test_one_zero
flint-extras/nmod_mat_poly_extra/test/test_shift
flint-extras/nmod_poly_extra/test/test_geometric_evaluate
flint-extras/nmod_poly_extra/test/test_geometric_interpolate
flint-extras/nmod_poly_extra/test/test_sd_fft_evaluate
flint-extras/nmod_poly_extra/test/test_sd_fft_evaluate_t
flint-extras/nmod_poly_extra/test/test_sd_fft_interpolate
flint-extras/nmod_poly_extra/test/test_sd_fft_interpolate_t
flint-extras/nmod_poly_extra/test/test_sd_tft_evaluate
flint-extras/nmod_poly_extra/test/test_sd_tft_evaluate_t
flint-extras/nmod_poly_extra/test/test_sd_tft_interpolate
flint-extras/nmod_poly_extra/test/test_sd_tft_interpolate_t
flint-extras/nmod_poly_mat_extra/test/test_degree_matrix
flint-extras/nmod_poly_mat_extra/test/test_determinant
flint-extras/nmod_poly_mat_extra/test/test_hermite_form
flint-extras/nmod_poly_mat_extra/test/test_is_hermite
flint-extras/nmod_poly_mat_extra/test/test_is_popov
flint-extras/nmod_poly_mat_extra/test/test_is_reduced
flint-extras/nmod_poly_mat_extra/test/test_is_weak_popov
flint-extras/nmod_poly_mat_extra/test/test_leading_matrix
flint-extras/nmod_poly_mat_extra/test/test_mat_poly
flint-extras/nmod_poly_mat_extra/test/test_mbasis
flint-extras/nmod_poly_mat_extra/test/test_mbasis1
flint-extras/nmod_poly_mat_extra/test/test_middle_product_3_primes
flint-extras/nmod_poly_mat_extra/test/test_middle_product_geometric
flint-extras/nmod_poly_mat_extra/test/test_middle_product_tft
flint-extras/nmod_poly_mat_extra/test/test_middle_product_vdm
flint-extras/nmod_poly_mat_extra/test/test_mul_3_primes
flint-extras/nmod_poly_mat_extra/test/test_mul_geometric
flint-extras/nmod_poly_mat_extra/test/test_mul_tft
flint-extras/nmod_poly_mat_extra/test/test_mul_vdm
flint-extras/nmod_poly_mat_extra/test/test_mul_waksman
flint-extras/nmod_poly_mat_extra/test/test_pivot_index
flint-extras/nmod_poly_mat_extra/test/test_pivot_profile
flint-extras/nmod_poly_mat_extra/test/test_pmbasis
flint-extras/nmod_poly_mat_extra/test/test_rand
flint-extras/nmod_poly_mat_extra/test/test_rdeg_cdeg
flint-extras/nmod_poly_mat_extra/test/test_swap_permute
flint-extras/nmod_poly_mat_extra/test/test_weak_popov_form
flint-extras/nmod_mat_extra/test/nmod_mat_mul_small_modulus.chk
flint-extras/nmod_mat_extra/test/test_nmod_mat_mul_small_modulus
ntl-extras/mat_lzz_pX_extra/test/test_invmodcomp
ntl-extras/mat_lzz_pX_extra/test/test_mul22
ntl-extras/mat_lzz_pX_extra/test/test_solve_kernel
flint-extras/doc/html/annotated.html
flint-extras/doc/html/bc_s.png
flint-extras/doc/html/classes.html
flint-extras/doc/html/clipboard.js
flint-extras/doc/html/closed.png
flint-extras/doc/html/cookie.js
flint-extras/doc/html/dir_d44c64559bbebec7f509842c48db8b23.html
flint-extras/doc/html/doc.svg
flint-extras/doc/html/docd.svg
flint-extras/doc/html/doxygen.css
flint-extras/doc/html/doxygen.svg
flint-extras/doc/html/doxygen_crawl.html
flint-extras/doc/html/dynsections.js
flint-extras/doc/html/files.html
flint-extras/doc/html/fmpz__extra_8h_source.html
flint-extras/doc/html/fmpz__mat__extra_8h_source.html
flint-extras/doc/html/folderclosed.svg
flint-extras/doc/html/folderclosedd.svg
flint-extras/doc/html/folderopen.svg
flint-extras/doc/html/folderopend.svg
flint-extras/doc/html/functions.html
flint-extras/doc/html/functions_vars.html
flint-extras/doc/html/globals.html
flint-extras/doc/html/globals_defs.html
flint-extras/doc/html/globals_func.html
flint-extras/doc/html/globals_type.html
flint-extras/doc/html/graph_legend.dot
flint-extras/doc/html/graph_legend.html
flint-extras/doc/html/index.html
flint-extras/doc/html/jquery.js
flint-extras/doc/html/menu.js
flint-extras/doc/html/menudata.js
flint-extras/doc/html/minus.svg
flint-extras/doc/html/minusd.svg
flint-extras/doc/html/nav_f.png
flint-extras/doc/html/nav_fd.png
flint-extras/doc/html/nav_g.png
flint-extras/doc/html/nav_h.png
flint-extras/doc/html/nav_hd.png
flint-extras/doc/html/nmod__extra_8h_source.html
flint-extras/doc/html/nmod__mat__extra_8h.html
flint-extras/doc/html/nmod__mat__extra_8h__incl.dot
flint-extras/doc/html/nmod__mat__extra_8h_source.html
flint-extras/doc/html/nmod__mat__poly_8h.html
flint-extras/doc/html/nmod__mat__poly_8h__dep__incl.dot
flint-extras/doc/html/nmod__mat__poly_8h__incl.dot
flint-extras/doc/html/nmod__mat__poly_8h_source.html
flint-extras/doc/html/nmod__poly__extra_8h_source.html
flint-extras/doc/html/nmod__poly__mat__approximant_8h.html
flint-extras/doc/html/nmod__poly__mat__approximant_8h__dep__incl.dot
flint-extras/doc/html/nmod__poly__mat__approximant_8h__incl.dot
flint-extras/doc/html/nmod__poly__mat__approximant_8h_source.html
flint-extras/doc/html/nmod__poly__mat__arith_8h.html
flint-extras/doc/html/nmod__poly__mat__arith_8h__dep__incl.dot
flint-extras/doc/html/nmod__poly__mat__arith_8h__incl.dot
flint-extras/doc/html/nmod__poly__mat__arith_8h_source.html
flint-extras/doc/html/nmod__poly__mat__extra_8h.html
flint-extras/doc/html/nmod__poly__mat__extra_8h__incl.dot
flint-extras/doc/html/nmod__poly__mat__extra_8h_source.html
flint-extras/doc/html/nmod__poly__mat__forms_8h_source.html
flint-extras/doc/html/nmod__poly__mat__io_8h.html
flint-extras/doc/html/nmod__poly__mat__io_8h__dep__incl.dot
flint-extras/doc/html/nmod__poly__mat__io_8h__incl.dot
flint-extras/doc/html/nmod__poly__mat__io_8h_source.html
flint-extras/doc/html/nmod__poly__mat__mat__poly_8h_source.html
flint-extras/doc/html/nmod__poly__mat__multiply_8h_source.html
flint-extras/doc/html/nmod__poly__mat__utils_8h.html
flint-extras/doc/html/nmod__poly__mat__utils_8h__dep__incl.dot
flint-extras/doc/html/nmod__poly__mat__utils_8h__incl.dot
flint-extras/doc/html/nmod__poly__mat__utils_8h_source.html
flint-extras/doc/html/nmod__vec__extra_8h.html
flint-extras/doc/html/nmod__vec__extra_8h__incl.dot
flint-extras/doc/html/nmod__vec__extra_8h_source.html
flint-extras/doc/html/open.png
flint-extras/doc/html/pages.html
flint-extras/doc/html/plus.svg
flint-extras/doc/html/plusd.svg
flint-extras/doc/html/sagemath__extra_8h_source.html
flint-extras/doc/html/splitbar.png
flint-extras/doc/html/splitbard.png
flint-extras/doc/html/structfmpz__CRT__naive__struct-members.html
flint-extras/doc/html/structfmpz__CRT__naive__struct.html
flint-extras/doc/html/structfmpz__multimod__CRT__struct-members.html
flint-extras/doc/html/structfmpz__multimod__CRT__struct.html
flint-extras/doc/html/structfmpz__multimod__naive__struct-members.html
flint-extras/doc/html/structfmpz__multimod__naive__struct.html
flint-extras/doc/html/structnmod__geometric__progression__struct-members.html
flint-extras/doc/html/structnmod__geometric__progression__struct.html
flint-extras/doc/html/structnmod__mat__poly0__struct-members.html
flint-extras/doc/html/structnmod__mat__poly0__struct.html
flint-extras/doc/html/structnmod__mat__poly__struct-members.html
flint-extras/doc/html/structnmod__mat__poly__struct.html
flint-extras/doc/html/structnmod__multimod__CRT__struct-members.html
flint-extras/doc/html/structnmod__multimod__CRT__struct.html
flint-extras/doc/html/structnmod__sd__fft__struct-members.html
flint-extras/doc/html/structnmod__sd__fft__struct.html
flint-extras/doc/html/sync_off.png
flint-extras/doc/html/sync_on.png
flint-extras/doc/html/tab_a.png
flint-extras/doc/html/tab_ad.png
flint-extras/doc/html/tab_b.png
flint-extras/doc/html/tab_bd.png
flint-extras/doc/html/tab_h.png
flint-extras/doc/html/tab_hd.png
flint-extras/doc/html/tab_s.png
flint-extras/doc/html/tab_sd.png
flint-extras/doc/html/tabs.css
flint-extras/doc/html/todo.html
flint-extras/doc/html/search/all_0.js
flint-extras/doc/html/search/all_1.js
flint-extras/doc/html/search/all_2.js
flint-extras/doc/html/search/all_3.js
flint-extras/doc/html/search/all_4.js
flint-extras/doc/html/search/all_5.js
flint-extras/doc/html/search/all_6.js
flint-extras/doc/html/search/all_7.js
flint-extras/doc/html/search/all_8.js
flint-extras/doc/html/search/all_9.js
flint-extras/doc/html/search/all_a.js
flint-extras/doc/html/search/all_b.js
flint-extras/doc/html/search/all_c.js
flint-extras/doc/html/search/classes_0.js
flint-extras/doc/html/search/classes_1.js
flint-extras/doc/html/search/close.svg
flint-extras/doc/html/search/defines_0.js
flint-extras/doc/html/search/files_0.js
flint-extras/doc/html/search/functions_0.js
flint-extras/doc/html/search/functions_1.js
flint-extras/doc/html/search/functions_2.js
flint-extras/doc/html/search/functions_3.js
flint-extras/doc/html/search/mag.svg
flint-extras/doc/html/search/mag_d.svg
flint-extras/doc/html/search/mag_sel.svg
flint-extras/doc/html/search/mag_seld.svg
flint-extras/doc/html/search/pages_0.js
flint-extras/doc/html/search/pages_1.js
flint-extras/doc/html/search/search.css
flint-extras/doc/html/search/search.js
flint-extras/doc/html/search/searchdata.js
flint-extras/doc/html/search/typedefs_0.js
flint-extras/doc/html/search/variables_0.js
flint-extras/doc/html/search/variables_1.js
flint-extras/doc/html/search/variables_2.js
flint-extras/doc/html/search/variables_3.js
flint-extras/doc/html/search/variables_4.js
flint-extras/doc/latex/annotated.tex
flint-extras/doc/latex/doxygen.sty
flint-extras/doc/latex/etoc_doxygen.sty
flint-extras/doc/latex/files.tex
flint-extras/doc/latex/fmpz__extra_8h_source.tex
flint-extras/doc/latex/fmpz__mat__extra_8h_source.tex
flint-extras/doc/latex/longtable_doxygen.sty
flint-extras/doc/latex/Makefile
flint-extras/doc/latex/nmod__extra_8h_source.tex
flint-extras/doc/latex/nmod__mat__extra_8h.tex
flint-extras/doc/latex/nmod__mat__extra_8h.tex.tmp
flint-extras/doc/latex/nmod__mat__extra_8h__incl.dot
flint-extras/doc/latex/nmod__mat__extra_8h_source.tex
flint-extras/doc/latex/nmod__mat__poly_8h.tex
flint-extras/doc/latex/nmod__mat__poly_8h__dep__incl.dot
flint-extras/doc/latex/nmod__mat__poly_8h__incl.dot
flint-extras/doc/latex/nmod__mat__poly_8h_source.tex
flint-extras/doc/latex/nmod__poly__extra_8h_source.tex
flint-extras/doc/latex/nmod__poly__mat__approximant_8h.tex
flint-extras/doc/latex/nmod__poly__mat__approximant_8h__dep__incl.dot
flint-extras/doc/latex/nmod__poly__mat__approximant_8h__incl.dot
flint-extras/doc/latex/nmod__poly__mat__approximant_8h_source.tex
flint-extras/doc/latex/nmod__poly__mat__arith_8h.tex
flint-extras/doc/latex/nmod__poly__mat__arith_8h__dep__incl.dot
flint-extras/doc/latex/nmod__poly__mat__arith_8h__incl.dot
flint-extras/doc/latex/nmod__poly__mat__arith_8h_source.tex
flint-extras/doc/latex/nmod__poly__mat__extra_8h.tex
flint-extras/doc/latex/nmod__poly__mat__extra_8h__incl.dot
flint-extras/doc/latex/nmod__poly__mat__extra_8h_source.tex
flint-extras/doc/latex/nmod__poly__mat__forms_8h_source.tex
flint-extras/doc/latex/nmod__poly__mat__io_8h.tex
flint-extras/doc/latex/nmod__poly__mat__io_8h__dep__incl.dot
flint-extras/doc/latex/nmod__poly__mat__io_8h__incl.dot
flint-extras/doc/latex/nmod__poly__mat__io_8h_source.tex
flint-extras/doc/latex/nmod__poly__mat__mat__poly_8h_source.tex
flint-extras/doc/latex/nmod__poly__mat__multiply_8h_source.tex
flint-extras/doc/latex/nmod__poly__mat__utils_8h.tex
flint-extras/doc/latex/nmod__poly__mat__utils_8h__dep__incl.dot
flint-extras/doc/latex/nmod__poly__mat__utils_8h__incl.dot
flint-extras/doc/latex/nmod__poly__mat__utils_8h_source.tex
flint-extras/doc/latex/nmod__vec__extra_8h.tex
flint-extras/doc/latex/nmod__vec__extra_8h__incl.dot
flint-extras/doc/latex/nmod__vec__extra_8h_source.tex
flint-extras/doc/latex/refman.tex
flint-extras/doc/latex/sagemath__extra_8h_source.tex
flint-extras/doc/latex/structfmpz__CRT__naive__struct.tex
flint-extras/doc/latex/structfmpz__multimod__CRT__struct.tex
flint-extras/doc/latex/structfmpz__multimod__naive__struct.tex
flint-extras/doc/latex/structnmod__geometric__progression__struct.tex
flint-extras/doc/latex/structnmod__mat__poly0__struct.tex
flint-extras/doc/latex/structnmod__mat__poly__struct.tex
flint-extras/doc/latex/structnmod__multimod__CRT__struct.tex
flint-extras/doc/latex/structnmod__sd__fft__struct.tex
flint-extras/doc/latex/tabu_doxygen.sty
flint-extras/doc/latex/todo.tex
